@import 'colors';


body {
  font-family: sans-serif;
  min-width: 700px;
  width: 100%;
}




//*  HEADER */
/*header {
  height: 203px;
  min-width: 700px;
  width: 100%;
}*/

.header-image {
  height: 100%;
  width: 200px;
  margin-bottom: 20px;

}

nav {


  clear: both;
  //min-width: 700px;
  //width: 100%;


}






/* MAIN MIDDLE*/

main {
  height:610px;
//  width: 100%;
  clear:both;

}

main div {
  float:left;
}

.play-screen{
  min-width: 700px;
  height:100%;
  width:70%;
  border: 1px solid black;
  background-color: $play-screen-background;
}


@media (max-width: 1042px) {
    .play-screen{
      //font-size: 20px;
      width:100%;
    }

  }



.game-messaging{
  width: 70%;
  margin: 15px auto 0 auto;
  text-align: center;
  font-size: 30px;
  color:white;
}




table {
  width: 437px;
  height: 437px;
  margin: 80px auto 5px auto;


}

td {
  height:150px;
  width:150px;
}

 td img {
  height: 140px;
  width: 140px;
  border-radius:10%;
}


.table-row1 td {
  border-bottom: 3px solid $gridcolor;
}

.table-row2 td {
  border-bottom: 3px solid $gridcolor;
}

.column2 {
  border-left: 3px solid $gridcolor ;
  border-right: 3px solid$gridcolor ;

}




.info-screen{
  width: 30%;
  height:100px;
text-align: center;


}

.header-info {
      display:block;
      width: 100%;
      height:40px;
      text-align: center;
      font-size:60px;
      text-decoration: underline;
      margin-top: 5px;
}



@media (max-width: 1042px) {
      .info-screen{
        width: 100%;
        height:100px;
        text-align: center;
      }
}

.win {
  border: 3px solid rgba(23, 233, 86, 1);
}
